# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/

# Django
*.log
media/

# IDE
.idea/
.vscode/

# Environment variables
.env
.env.docker

# OS files
.DS_Store
Thumbs.db